<p id="notice"><%= notice %></p>

<h1>Films</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Premiere</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% if user_signed_in? %>
            <% @films.each do |film| %>
              <tr>
                <td><%= film.title %></td>
                <td><%= film.premiere %></td>
                <td><%= link_to 'Show', film , class: "btn btn-primary"%></td>
                <td><%= link_to 'Edit', edit_film_path(film), class: "btn btn-primary" %></td>
                <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          <% else  %>
    	<h2> Not logged </h2>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
